.casove-rozlozeni
  width 100%
  .kluby
    margin-top 4px
    h3
      float left
      font-size 14px
      margin 0px
    ul
      float right
      width calc(100% - 100px)
      list-style-type none
      margin 0px
      padding 0px
      li
        float left
        margin-right 5px
        margin-bottom 5px
        a
          border-radius 3px
          border 1px solid #a
          display block
          padding 0px 7px
          color black
          text-decoration none
          &:hover
            cursor pointer
            box-shadow 0px 0px 3px ColorBlue
            background lighten(ColorBlue, 95%)
          &:active
            background lighten(ColorBlue, 90%)
        &.active a
            background lighten(ColorBlue, 20%)
            border-color ColorBlue
            color #FFF
  ul.legend
    position absolute
    top 140px
    right 60px
    margin 0px
    padding 0px
    list-style-type none
    li
      margin 0px 0px 4px 0px
      padding 0px
      text-align right
      position relative
      &:before
        content " "
        position absolute
        width 44px
        height 10px
        right -60px
        top 4px
        background yellow
      &:nth-child(1):before
        background lighten(desaturate(ColorBlue, 100%), 80%)
      &:nth-child(2):before
        background ColorRed
      &:nth-child(3):before
        background ColorBlue

  .left
    text-align right
    float left
  .right
    text-align left
    float right
  .lines
    width 100%
    height 400px
    float left
    .line
      width (100% / 14)
      float left
      height 450px
      position relative
      .left
      .right
        position absolute
        bottom 25px
        width 100%
        div
          width 100%
          height 10px
          position absolute
          left 0px
          opacity 1
          transition opacity 0.8s, background 0.8s, border 0.8s
          &.entering
          &.exiting
            opacity 0
      .left
        div
          float right
          border-bottom 1px solid
          border-right 1px solid #f3
          background lighten(desaturate(ColorBlue, 100%), 80%)
          border-bottom-color lighten(desaturate(ColorBlue, 100%), 90%)
          &.full
            background ColorRed
            border-color lighten(desaturate(ColorRed, 80%), 50%)
      &.positive div.full
        background ColorBlue
        border-color lighten(desaturate(ColorBlue, 80%), 50%)

      .marker
        position absolute
        bottom 0px
        left 0px
        width 100%
        transform translate(0,50%)
        text-align center
        font-size 11px
        text-transform uppercase
        line-height 14px
        span
          text-transform none


