.goly
  .klub
    width 160px
    height 100px
    margin 10px 0px 30px 0px
    float left
    position relative
    .title
      font-weight bold
      text-align center
    .percentage
      text-align center
    .centerline
      height 25px
      border-left 1px dashed #a
      position absolute
      left 50%
      bottom 0px
    .bar
      position absolute
      background ColorRed
      width 20px
      left 50%
      &.positive
        background ColorBlue
        right 50%
        left auto
      height 15px
      bottom 5px

