.graph
    width 100%
    float left
    .line
      height 30px
      position relative
      .bar
        height 23px
        position absolute
        top 3px
        min-width 1px
        right 0px
        border-top-left-radius 2px
        border-bottom-left-radius 2px
        background ColorRed
      .title
        position absolute
        top 6px
        padding-right 8px
      .value
        position absolute
        top 6px
        padding-left 8px
        color #FFF
        font-weight bold
